<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../dist/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/starter-template.css" rel="stylesheet">

    {% endblock head %}

    <title>Starter Template for Bootstrap</title>
  </head>

  <body>

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}

    {% block extra %}
    {% endblock %}
  </body>
</html>
