{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">CIE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Blog</a></li>
                <li><a href="/inscripcion">Inscripcion</a></li>
                <li><a href="/contactos">Contactos</a></li>
                <li><a href="/alumnos">Alumnos</a></li>
                <li class="active"><a href="/profesores">Profesores</a></li>
                <li><a href="/cursos">Cursos</a></li>
                <li><a href="/salir">Salir</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <div class="jumbotron">
            <h2>Modificar Profesor</h2>
            <br>
            <form class="form-signin" action="/profesor/modificar" method="post">
                <input type="text" id="dni" name="dni" class="form-control" value="{{profesor.dni}}" required>
                <br>
                <input type="text" id="apellido" name="apellido" class="form-control" value="{{profesor.apellido}}" required>
                <br>
                <input type="text" id="nombre" name="nombre" class="form-control" value="{{profesor.nombre}}" required>
                <br>
                <input type="text" id="telefono" name="telefono" class="form-control" value="{{profesor.telefono}}" required>
                <br>
                <input type="text" id="mail" name="mail" class="form-control" value="{{profesor.mail}}" required>
                <br>
                <textarea type="text" id="observaciones" name="observaciones" class="form-control" placeholder="Observaciones" required>{{profesor.observaciones}}</textarea>

                <br>
                <br>

                <button id="boton-entrar" class="btn btn-lg btn-info btn-block" type="submit">Modificar</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container -->

{% endblock %}